@import url('https://fonts.googleapis.com/css2?family=Monda&family=Nunito:wght@300;400;600&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    color: #444444;
    font-weight: 300;
}
#txt{
    font-family: Monda;
    font-size: 3em;
}